<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/MyStyle.css}">
</head>
<body>

<h1>Confirmed orders:</h1>
<div th:each="current:${orders}">
    <h2 th:text="${current.clientId}"></h2>
    <h2 th:text="${current.goods}"></h2>
    <h2 th:text="${current.clientName}"></h2>
    <h2 th:text="${current.address}"></h2>
    <a th:href="@{/enter/order/delete_order/{id}(id=${current.clientId})}">Delete</a>
    <a th:href="@{/enter/order/update/{id}(id=${current.clientId})}">Change order information</a>
</div>
<a th:href="@{/enter}">New order</a>
</body>
</html>